<div class = "tp-container">
  <mat-form-field appearance = "standard">
     <input matInput placeholder = "Input">
     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     <mat-hint>Hello world</mat-hint>
  </mat-form-field>
  <mat-form-field appearance = "fill">
     <textarea matInput placeholder = "Textarea"></textarea>
  </mat-form-field>
  <mat-form-field appearance = "outline">
     <mat-select placeholder = "Select">
        <mat-option value = "A">A</mat-option>
        <mat-option value = "B">B</mat-option>
        <mat-option value = "C">C</mat-option>      
     </mat-select>
  </mat-form-field>
</div><div class = "tp-container">
  <mat-form-field appearance = "standard">
     <input matInput placeholder = "Input">
     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     <mat-hint>Sample Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance = "fill">
     <textarea matInput placeholder = "Textarea"></textarea>
  </mat-form-field>
  <mat-form-field appearance = "outline">
     <mat-select placeholder = "Select">
        <mat-option value = "A">A</mat-option>
        <mat-option value = "B">B</mat-option>
        <mat-option value = "C">C</mat-option>      
     </mat-select>
  </mat-form-field>
</div>